@import url('https://fonts.googleapis.com/css?family=Cabin|Noto+Sans+KR|Quicksand&display=swap');

:root {
    --primary-color: #001459;
    --secondary-color: #CED3DC;
    --accent1-color: #528299;
    --accent2-color: #FCF7F8;
    --heading-font: "Noto+Sans+KR";
    --paragraph-font: "Quicksand", Helvetica, sans-serif;
}

html {
    background-color: var(--accent1-color);

}
body {
	background-color: var(--accent1-color);
	padding: 0;
	margin: 0;
	font-size: 16px;
}
header,nav,main,footer {
    max-width: 960px;
    margin:0 auto;
    
}

header {
	background-color: var(--accent2-color);
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
}

header img {
	width: 125px;
	height: auto;
}

.heading {
	display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.heading h1 {
	font-size: 2rem;
	color: var(--primary-color);
	margin: 0;
}

.motto {
	font-style: italic;
	color: var(--accent2-color);
	font-size: 1rem;
	letter-spacing: 1.5pt;
}
.linkbar {
flex-direction : row;
margin : 1rem;
padding : 1rem;
border : 1rem;
letter-spacing : 2px;
list-style : none;
align-items: center;
}

.social-media-square-set {
    background-color: var(--accent2-color);
   text-align: right;
}
.copyright {
    font-style: italic;
    font-size: 1rem;
}
main {
    text-align: left;
}

#pana{
    border-color: navy;
    border-style: double;
    border-width: thick;
    max-width: 100%;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 2rem;
}


header {
    padding: 1em;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--accent1-color);
}
p {
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
    padding: 1em;
    margin: 2em;
}
.footer{
    background-color: var(--secondary-color);
    padding: 3em;
}
.colors {
    display: flex;
    min-width: 350px;
    margin: auto;
    text-align: center;
}

.colors th {
    background-color: #999;
}
#bluegreen {
    text-align: right;
    border-color: white;
    border-style: double;
    border-width: thick;
    padding-left: 2em;
}
.colors td {
    width: 25%;
    height: 3em;
}

.primary {
    background-color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
}

.accent1 {
    background-color: var(--accent1-color);
}

.accent2 {
    background-color: var(--accent2-color);
}

nav {
    background-color: #CED3DC;
    line-height: 3em;
    text-align: right;
    font-size: 1.2em;
}

nav ul {
    list-style-type: none;
    display: flex;
    text-align: center;
}

nav a {
    padding: 1em;
    min-width: 70px;
}

nav a:link,
nav a:visited {
    color: purple;
}

nav a:hover {
    color: navy;
    background-color: gray;
}
.banner-box img{
    width: 100%;
    height: auto;
}